<!DOCTYPE html>
<html>
<head>
  <title>我爱背单词</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">我爱背单词</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">首页</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="../wordunion/wordintro.html">单词集</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../wordbook/wordbook.html">我的单词本</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../plan/plan.html">背诵计划</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="../exam/exam.html">复习考核</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="../memory/memory.html">记忆曲线</a>
          </li> 
          <li class="nav-item">
              <a class="nav-link" href="./register.html">注册/登录</a>
          </li>
          </ul>
        </div>  
    </nav>
    <br>
    <br>


<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h3>注册</h3>
                <form class="form" action="{% url 'users:register' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">注册</button>
                </form>
                <div class="flex-center top-gap text-small">
                    <a href="login.html">已有账号登录</a>
                </div>
            </div>
        </div>
    </div>
</div>



      

</body>
</html>